.sidebar {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 21%;
  max-width: 300px;
  background-color: rgb(4, 18, 37);
  border-right: 1.5px solid rgb(255, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  width: 20px;
}

.vertical-logo {
  font-family: "Array", sans-serif;
  color: #ff0000;
  font-size: 32px;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-style: normal;
  margin-top: 25px;
}

.image-button {
  width: 40px;
  height: auto;
  margin-bottom: 15px;
  cursor: pointer;
}

.image-button-open {
  width: 60px;
  cursor: pointer;
  height: auto;
  margin-bottom: 15px;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.navbar-closed {
  width: 5%;
  max-width: 400px;
}

.art-options {
  font-size: 2vw;
  font-weight: 550;
  color: #ff0000;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #ff0000;
  cursor: pointer;
}

.nav-link.selected {
  border: #4c00ff;
}

.art-options-closed {
  font-size: 0px;
  font-weight: bold;
  color: #ff0000;
  margin-top: 2vw;
  cursor: pointer;
}

.nav-lang {
  font-weight: bold;
  color: #ff0000;
  font-size: 1.1vw;
  margin-bottom: 5vh;
}

.sidebar .class-lang {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.language-button {
  background: none;
  border: none;
  color: #ff0000;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2vw;
  font-family: "IBM Plex Sans", sans-serif;
}

.text-logo {
  font-family: "Array", sans-serif;
  color: #ff0000;
  font-size: 3vw;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-style: normal;
}

.navbar-brand {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-class-closed {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  font-size: 3vw;
  border: none;
  background: none;
  color: #ff0000;
  margin-bottom: 1vw;
  cursor: pointer;
  font-weight: bold;
}

.open-button {
  font-size: 2vw;
  border: none;
  background: none;
  color: #ff0000;
  margin-bottom: 1vw;
  cursor: pointer;
  font-weight: bold;
}

.language-button.selected {
  color: #ff0000;
  font-weight: bold;
}

.language-separator {
  width: 100%;
  height: 2px;
  background-color: #ff0000;
  margin: 1vw 0;
  display: block;
}

@media screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    max-width: none;
    height: 100vh;
    background-color: rgb(4, 18, 37);
  }

  .navbar-closed {
    width: 100%;
    height: 7%;
    max-width: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: none;
    border-bottom: 1.5px solid rgb(255, 0, 0);
    flex-direction: row;
    align-items: center;
  }

  .logo2 {
    width: 55%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }

  .art-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
  }

  .language-separator {
    width: 85%;
    height: 2px;
    background-color: #ff0000;
    margin: 1vw 0;
    display: block;
  }

  .art-options-closed {
    font-size: 0px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .language-button {
    font-size: 6.5px;
  }

  .sketchNav {
    margin-top: 100px;
  }

  .close-button {
    font-size: 10vw;
    margin-bottom: 110px;
  }

  .open-button {
    font-size: 5vw;
  }

  .vertical-logo {
    font-size: 32px;
    writing-mode: horizontal-tb;
    text-orientation: initial;
    margin-top: 30px;
  }
  .nav-lang {
    display: none;
  }

  .text-logo {
    font-size: 7.5vw;
  }
}
