.sidebar {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sketch-random-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; 
  z-index: 5;
}

.sketch-random-image {
  position: absolute;
  width: 150px;
  height: auto;
  pointer-events: auto; 
}

.sketch-random-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.sketch-random-image:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}

.navbar-open {
  background-color: rgb(255, 0, 0);
  z-index: 1100;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  width: 20px;
}

.navbar-closed {
  width: auto;
  max-width: 400px;
  height: fit-content;
}

.vertical-logo {
  font-family: "Array", sans-serif;
  color: #040311;
  font-size: 45px;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  letter-spacing: 10px;
  padding-left: 14px;
}

.text-logo {
  font-family: "Array", sans-serif;
  color: #f6f6f6;
  font-size: 45px;
  align-items: center;
  text-decoration: none;
  letter-spacing: 10px;
  font-style: normal;
}

.image-button {
  width: 40px;
  height: auto;
  margin-bottom: 15px;
  cursor: pointer;
}

.expand-icon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.logo-class:hover .expand-icon {
  opacity: 1;
}


.image-button-open {
  width: 60px;
  cursor: pointer;
  height: auto;
  margin-bottom: 15px;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.button-close-container {
  margin-bottom: 10px;
}

.art-options {
  font-size: 28px;
  font-weight: 550;
  color: #f6f6f6;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #f6f6f6;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.selected {
  text-decoration: underline;
}

.art-options-closed {
  font-size: 0px;
  font-weight: bold;
  color: #f6f6f6;
  margin-top: 2vw;
  cursor: pointer;
}

.nav-lang {
  color: #f6f6f6;
  display: flex;
  flex-direction: row;
  width: 100px;
  align-items: center;
  gap: 5px;
}

.sidebar .class-lang {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.language-button {
  background: none;
  border: none;
  color: #f6f6f6;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
}

.language-button:hover {
  text-decoration: underline;
}

.language-button.selected {
  text-decoration: underline;
}

.navbar-brand {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logo-class-closed {
  position: relative;
  display: flex;
  align-items: center;
}

.language-separator {
  width: 100%;
  height: 2px;
  background-color: #f6f6f6;
  margin: 1vw 0;
  display: block;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    max-width: none;
    height: 100vh;
  }

  .navbar-closed {
    width: 100%;
    height: 7%;
    max-width: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: none;
    border-bottom: 1.5px solid#040311;
    flex-direction: row;
    align-items: center;
  }

  .logo2 {
    width: 55%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }

  .art-options {
    display: flex;
    align-items: center;
    font-size: 3vw;
  }

  .language-separator {
    width: 85%;
    height: 2px;
    background-color: #040311;
    margin: 1vw 0;
    display: block;
  }

  .art-options-closed {
    font-size: 0px;
    margin-top: 20px;
    margin-left: 10px;
    display: none;
  }

  .language-button {
    font-size: 6.5px;
  }

  .sketchNav {
    margin-top: 100px;
  }

  .close-button {
    font-size: 10vw;
    margin-bottom: 110px;
  }

  .open-button {
    font-size: 5vw;
  }

  .vertical-logo {
    font-size: 32px;
    writing-mode: horizontal-tb;
    text-orientation: initial;
  }
  .nav-lang {
    display: none;
  }

  .text-logo {
    font-size: 7.5vw;
  }
}
