.sidebar {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
}

.sidebar-closed-main-container {
  width: fit-content;
  height: fit-content;
}

.sidebar-closed-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidebar-closed-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-closed-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 30px;
  justify-content: space-between;
}

.sidebar-closed-column-links {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: center;
  position: fixed; 
  top: 50%;
  left: 20px; 
  transform: translateY(-50%);
  height: auto;
  width: 20px;
  z-index: 900000;
  pointer-events: auto; 
}

.sidebar-closed-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.sidebar-closed-icon {
  color: whitesmoke;
}

.horizontal-logo {
  font-family: "Array", sans-serif;
  font-size: 40px;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  letter-spacing: 10px;
  color: #f6f6f6;
}

.text-logo {
  font-family: "Array", sans-serif;
  color: #f6f6f6;
  font-size: 40px;
  align-items: center;
  text-decoration: none;
  letter-spacing: 10px;
  font-style: normal;
}

.expand-icon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar-closed:hover .expand-icon {
  opacity: 1;
}

.button-close-container {
  margin-bottom: 10px;
}

.sidebar-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.sidebar-open-main-container {
  background-color: rgb(227, 123, 139);
  z-index: 1100;
  align-items: center;
}

.sidebar-open-logo-container {
  flex: 1;
}

.sidebar-open-options-container {
  font-size: 26px;
  font-weight: 550;
  color: #f6f6f6;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  cursor: pointer;
  flex: 1;
}

.sidebar-open-language-and-close-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  flex: 1;
  justify-content: end;
}

.nav-link {
  text-decoration: none;
  color: #f6f6f6;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: whitesmoke;
  text-underline-offset: 5px;
  text-shadow: 0 0 8px rgba(245, 245, 245, 0.8);
}

.nav-link.selected {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: whitesmoke;
  text-underline-offset: 5px;
}

.nav-lang {
  color: #f6f6f6;
  display: flex;
  flex-direction: row;
  width: 100px;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.sidebar .class-lang {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.language-button {
  background: none;
  border: none;
  color: #f6f6f6;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
}

.language-button:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: whitesmoke;
  text-underline-offset: 5px;
}

.language-button.selected {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: whitesmoke;
  text-underline-offset: 5px;
}

.language-separator {
  width: 30px;
  height: 1px;
  margin: 1vw 0;
  display: block;
  border: 1px dashed whitesmoke;
}

.language-and-close-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    max-width: none;
    height: 100vh;
  }

  .sidebar-closed-main-container {
    width: 100%;
    height: 7%;
    max-width: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: none;
    border-bottom: 1.5px dashed whitesmoke;
    flex-direction: row;
    align-items: center;
    background-color: rgb(107, 139, 141);
  }

  .language-separator {
    width: 85%;
    height: 2px;
    background-color: #040311;
    margin: 1vw 0;
    display: block;
  }

  .language-button {
    font-size: 6.5px;
  }

  .sketchNav {
    margin-top: 100px;
  }

  .close-button {
    font-size: 10vw;
    margin-bottom: 110px;
  }

  .open-button {
    font-size: 5vw;
  }

  .horizontal-logo {
    font-size: 32px;
    writing-mode: horizontal-tb;
    text-orientation: initial;
  }
  .nav-lang {
    display: none;
  }

  .text-logo {
    font-size: 7.5vw;
  }
}
