.creatives-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar los contenedores horizontalmente */
    align-items: center; /* Centrar los contenedores verticalmente */
  }
  
  .user-container {
    flex: 0 0 calc(28.28% - 40px); /* Ancho de 1/3 con margen */
    margin: 20px;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
  }
  


  .user-card {
    border: 1.5px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px; /* Ajusta el margen según sea necesario */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    cursor: pointer;
  }
  
  .user-image {
    width: 100%;
    height: 220px; /* Define una altura máxima */
    object-fit: cover;
  }
  
  .user-details {
    margin-top: 10px;
    text-align: center; /* Centra el texto dentro de la tarjeta */
    font-family: "Array", sans-serif;
    font-size: 2vw;
    width: 100%;
    margin-top: 2vw; 
    color: #000000ce;
  }
  .creative-link{
    text-decoration: none;
  }


