.draw-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 2vw;
}

.canvas-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.canvas-controls-desktop-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

.image-row {
  display: flex;
  flex-direction: column;
}

.image-column {
  display: flex;
  flex-direction: column;
}

.our-image {
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.our-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.control-button {
  border-radius: 5px;
  color: rgb(77, 52, 65);
  background-color: transparent;
  border: solid 1.5px rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1vw;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(147, 196, 253, 0.442);
}

.control-button.selected {
  opacity: 0.6;
  background-color: rgb(194, 107, 152);
}

.control-button-add-photo {
  margin-bottom: 10px;
  cursor: pointer;
  border: solid 1.5px rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  background-color: rgba(147, 196, 253, 0.442);
  overflow: hidden;
  width: 70px;
  height: 70px;
}

.our-image.selected {
  opacity: 0.6;
  background-color: rgb(255, 255, 255);
}
.image-sizes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.button-row {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 72%;
  color: rgb(255, 255, 255);
  font-size: 1vw;
}

.image-size-title {
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.button-section-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
}

@media (min-width: 300px) and (max-width: 1000px) {
  .canvas-images-container {
    gap: 2vw;
    margin-top: 3vh;
    flex-direction: column;
  }

  .image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

.image-row {
  gap: 20px;
}

.our-image {
  width: 70px;
  height: 70px;
}

.all-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  width: 80vw;
}

.image-sizes {
  align-items: center;
  flex-direction: row;
}

.image-size-title {
  font-size: 5vw;
}

@media (min-width: 200px) and (max-width: 1000px) {
  .canvas-images-container {
    gap: 2vw;
    margin-top: 3vh;
    flex-direction: column;
  }

  .control-button {
    font-size: 5vw;
    border: solid 1px rgb(255, 255, 255);
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 50px;
    height: auto;
  }

  .image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 200px) and (max-width: 500px) {
  .canvas-images-container {
    gap: 2vw;
    margin-top: 3vh;
    flex-direction: column;
  }

  .icon-image {
    width: 20px;
    height: auto;
  }

  .control-button {
    border: solid 1px rgb(255, 255, 255);
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 35px;
    height: auto;
  }

  .image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
