.magazine-container {
  position: relative;
}

.carousel-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-prev,
.carousel-next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 32px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-prev:disabled,
.carousel-next:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}
