.magazine {
  display: flex;
  justify-content: center;
  align-items: center;
}
.animated {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15vh;
}
.text-animation {
  width: 500px;
  color: red;
  font-family: "IBM Plex Sans", sans-serif;
}

.particle {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

@media only screen and (max-width: 1268px) {
  .animated {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text-animation {
    width: 80%;
    align-items: center;
  }
}

@media only screen and (max-width: 568px) {
.text-animation {
  width: 90%;
  align-items: center;
}
}