.magazine {
  display: flex;
  justify-content: center;
  align-items: center;
}
.animated {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15vh;
  width: 100%;
  justify-content: center;
  gap: 100px;
  width: 100;
}
.text-animation {
  color: #040311;;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  width: 650px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.particle {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

@media only screen and (max-width: 1268px) {
  .animated {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text-animation {
    width: 80%;
    align-items: center;
  }
}

@media only screen and (max-width: 568px) {
.text-animation {
  width: 90%;
  align-items: center;
}
}