.song-animated{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.sketch-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: 5vh;
}

.button-sketch{
    font-family: "Array", sans-serif;
    font-weight: bold;
    font-size: 2vw;
      border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: rgb(4, 18, 37) ;
    cursor: pointer;
}

.button-permisson {
    font-family: "Array", sans-serif;
    font-weight: bold;
    padding: 5px;
    font-size: 3vw;
    border: solid 2px rgb(255, 0, 0);
    border-radius: 5px;
    background-color: rgb(4, 18, 37) ;
    cursor: pointer;
    color: #ff0000;
}