.form-view-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.my-container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: whitesmoke;
  width: 100%;
  max-width: 520px;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 50px; /* Espacio interno entre el borde y el contenido */
  background-color: rgb(28, 38, 59);
  border: dashed 2px whitesmoke;
  background-clip: padding-box; /* Evita que el fondo se meta en el borde */
  opacity: 0.8;
  height: fit-content;
}

.preview-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropdown-header {
  padding: 10px;
  border: 1.5px dashed whitesmoke;
  border-radius: 4px;
  color: whitesmoke;
  cursor: pointer;
  margin-bottom: 10px;
}

.dropdown-header:focus {
  outline: none;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solidwhitesmoke;
  border-top: none;
  border-radius: 0 0 4px 4px;
  color: whitesmoke;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(0, 0, 255);
  border: dashed 1.5px whitesmoke;
  border-radius: 6px;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #333472;
}

.custom-text-input {
  width: 100%;
  height: 50px;
  padding: 8px;
  font-size: 16px;
  border: 1.5px dashed whitesmoke;
  border-radius: 6px;
  box-sizing: border-box;
  color: whitesmoke;
  transition: none;
  background-color: transparent;
}

.custom-text-input:focus {
  outline: none;
  box-shadow: 0 0 6px whitesmoke;
  transition: box-shadow 0.2s ease, border 0.2s ease;
}

.custom-text-input::placeholder {
  color: whitesmoke;
}

.uploader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vh auto;
  color: whitesmoke;
  border: 1px dashed whitesmoke;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  border-radius: 4px;
  gap: 27px;
  padding: 5%;
  background-color: whitesmoke;
  opacity: 0.8;
  height: 80vh;
}

.drop-zone {
  width: 95%;
  height: 160px;
  border: 3px dashed whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: auto;
  padding: 10px;
}

.form-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.my-form-title {
  font-size: 1.5em;
}

.my-label-form,
.form-title {
  display: block;
  margin-bottom: 5px;
  color: whitesmoke;
  font-size: 0.9em;
  white-space: nowrap;
}

.my-input-form,
.my-textarea-form {
  width: 100%;
  max-width: 100%;
  border: 1.5px dashed whitesmoke;
  padding: 5px;
  outline: none;
  margin-bottom: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.my-select-form {
  width: 100%;
  max-width: 100%;
  background-color: whitesmoke;
  border: 1.5px solidwhitesmoke;
  padding: 5px;
  border-radius: 4px;
  outline: none;
  border-radius: 2px;
  margin-bottom: 15px;
  box-sizing: border-box;
  color: whitesmoke;
}

.my-select-container {
  position: relative;
}

.my-select-container span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  color: whitesmoke;
  pointer-events: none;
  z-index: 1;
}

.google-login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  color: #3c4043;
  background-color: whitesmoke;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  font-size: 1em;
  border: dashed 1px  whitesmoke;
}

.my-button-form,
.my-link-form {
  margin-top: 2vw;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  border: dashed 1.5px whitesmoke;
}

.my-button-form:hover {
  background-color: rgb(39, 49, 52);
}

.my-form-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.category-list-create li {
  cursor: pointer;
}

.category-list-create {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.my-managment-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 2vh auto;
  font-size: 20px;
  margin-bottom: 20px;
  color: whitesmoke;
  border: solid 1.5pxwhitesmoke;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5%;
  background-color: whitesmoke;
  opacity: 0.8;
  height: 80vh;
}

.management-container {
  background-image: url("../../assets/raja.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .my-label-form,
  .form-title {
    font-size: 18px;
  }

  .my-container-form {
    width: 95%;
  }

  .drop-zone {
    width: 90%;
    height: 60px;
  }

  .my-button-form,
  .my-link-form {
    font-size: 14px;
  }

  .my-container-register {
    width: 90%;
  }

  .form-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .management-button {
    width: 70%;
    font-size: 1em;
  }

  .my-managment-options {
    width: 100%;
    min-width: none;
  }
}

@media (max-width: 599px) {
  .management-button {
    width: 100%;
    min-width: none;
  }
}
