.sketch-image-list {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  color: rgb(147, 197, 253);
  align-items: center;
  height: 100vh;
}

.image-loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Array", sans-serif;
  font-size: 2vw;
  animation: opacityAnimation 1s ease infinite alternate,
    colorAnimation 2s ease infinite alternate;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.sketch-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sketch-image-container {
  flex: 0 0 calc(30.28% - 40px);
  margin: 20px;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.sketch-image-container:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1) saturate(1.2);
}
.sketch-image-container img {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
  border-radius: 10px;
}

.image-title {
  margin-top: 10px;
  text-align: center;
  font-family: "Array", sans-serif;
  font-size: 1.5vw;
  color: white;
}

.image-loading {
  font-family: "Array", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  animation: opacityAnimation 1s ease infinite alternate,
    colorAnimation 2s ease infinite alternate;
  text-decoration: none;
}

@media screen and (max-width: 1224px) {
  .sketch-image-container {
    width: 70%;
    height: auto;
    margin: 20px auto;
  }

  .image-title {
    font-size: 4vw;
  }

  .sketch-image-list-title {
    font-size: 3vw;
  }
}

@media screen and (max-width: 1224px) {
  .sketch-containers {
    flex-direction: column;
  }
}
