body {
  background-color: rgb(208, 248, 255) !important;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.title {
  font-family: "Array", sans-serif;
  font-size: 2vw;
  margin-top: 10vh;
  margin-bottom: 2;
  color: red;
}

.content {
  flex: 1; /* Esto permite que el contenido crezca y ocupe el espacio disponible */
}
.sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  font-family: "Array", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  margin-top: 40vh;
  margin-bottom: 60vh;
  animation: opacityAnimation 1s ease infinite alternate,
    colorAnimation 2s ease infinite alternate; /* Agrega una animación de opacidad */
}
