body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgba(212, 225, 255, 0.678);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(20, 20, 20, 0.107);
}

*::-webkit-scrollbar-thumb {
  background-color: #040311;
}

.title {
  font-family: "Array", sans-serif;
  font-size: 3rem;
  margin-top: 10vh;
  margin-bottom: 2;
  color: #040311;
}

.content {
  flex: 1;
}

.sketch-shapes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: "Array", sans-serif;
}

.image-size-label {
  width: 120px;
}

.custom-range {
  font-family: "Array", sans-serif;
  width: 100%;
  height: 15px;
  background: linear-gradient(to right, #dddddd,#040311);
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease-in-out;
  margin: 10px 0;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1.5px solid,#040311;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px,#040311;
  transition: transform 0.2s ease-in-out;
}

.custom-range::-webkit-slider-thumb:hover {
  transform: scale(1.2); 
}


.sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  width: 100vw;
  height: 100vh;
  pad: 40px;
  gap: 100px;
  margin-top: 20px;
}

.image-size-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.shape-button {
  background-color: transparent;
  border: none;
  color: #040311;
  cursor: pointer;
}

.color-button {
  background-color: transparent;
  border: solid 1px #040311;
  cursor: pointer;
  border-radius: 5px;
}

.loading {
  font-family: "Array", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  margin-bottom: 60vh;
  animation: opacityAnimation 1s ease infinite alternate,
    colorAnimation 2s ease infinite alternate;
}

@media screen and (max-width: 824px) {
  .sketch-container {
    gap: 20px;
  }
  .sketch-container {
    margin-top: 30px;
  }
}
